<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @ro_r_model.game %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ro_r_model.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @ro_r_model.score %>
</p>

<p>
  <strong>Add:</strong>
  <%= @ro_r_model.add %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @ro_r_model.dob %>
</p>

<%= link_to 'Edit', edit_ro_r_model_path(@ro_r_model) %> |
<%= link_to 'Back', ro_r_models_path %>
